

Name: <%= @product.name %> <br>
Description: <%=  @product.description %> <br>
Price: <%=  @product.pricing %> <br>

<a href="/product/<%= @product.id %>/edit">Edit</a>  |  <a href="/product/index">Back</a>